.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  -ms-grid-rows: minmax(auto, 150px) 1fr minmax(auto, 255px);
  -ms-grid-columns: 1fr;
      grid-template: minmax(auto, 150px) 1fr minmax(auto, 255px)/1fr;
      grid-template-areas: "header" "main" "footer";
  overflow: hidden;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #000), color-stop(20%, #513ca8));
  background: linear-gradient(to bottom, #000 80%, #513ca8 20%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1520px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1520px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
}

.header__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 0px 15px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 285px) minmax(auto, 1235px);
      grid-template: 1fr/minmax(auto, 285px) minmax(auto, 1235px);
}

.header__logo {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 140px;
  padding-left: 15px;
}

.header__list {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 3fr 3fr 3fr 2fr;
      grid-template: 1fr / 3fr 3fr 3fr 2fr;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #184fb9;
  font-size: 28px;
}

.header__navodka {
  position: relative;
}

.header__navodka:hover .padaem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_img {
  width: 120px;
  height: 40.285px;
}

.padaem {
  display: none;
  position: absolute;
  background-color: #000000;
  left: -50px;
  width: 200px;
  height: 240px;
  text-align: center;
}

.padaem__drop-bg {
  background-color: #513ca8;
  height: 30px;
  width: 100%;
}

.padaem__drop-up {
  height: 30px;
  width: 100%;
}

.padaem__drop {
  color: #184fb9;
  font-size: 28px;
  text-decoration: none;
}

.nulik {
  color: #184fb9;
}

.content {
  padding-top: 5%;
  padding-bottom: 5%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 7fr 1fr;
      grid-template: auto / 1fr 7fr 1fr;
  background: #27272a;
}

.content .elemen1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 15px 1fr 15px;
      grid-template: auto auto / 15px 1fr 15px;
  grid-row-gap: 3%;
}

.content .text-inf {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.content .img-element {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
}

.footer {
  padding-top: 55px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  background-color: #3a3a3a;
  -ms-grid-rows: 1fr 5fr;
  -ms-grid-columns: 1fr 5fr 5fr 5fr 1fr;
      grid-template: 1fr 5fr / 1fr 5fr 5fr 5fr 1fr;
}

.footer__logo {
  grid-column: span(5);
  -ms-grid-row: 1;
  grid-row: 1;
}

.footer__afischa {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer__kinotiatri {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer__kontakti {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.afischa__li {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.afischa__h1-a {
  font-size: 18px;
  line-height: 37px;
  color: #fff;
}

.kinotiatri__li {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.kinotiatri__h1-k {
  font-size: 18px;
  line-height: 37px;
  color: #fff;
}

.kontakti__h1-kon {
  font-size: 18px;
  line-height: 37px;
  color: #fff;
}

a.nulik_w {
  color: #fff;
}

svg.kontakti__telega {
  width: 50px;
  height: 50px;
}

svg.kontakti__vk {
  width: 50px;
  height: 50px;
}
