* {
  font-family: Roboto Mono;
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100px;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-style: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: iherit;
}

a {
  text-decoration: none;
}

.line {
  background-color: #27272A;
  width: 100%;
  height: 1px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.line__row {
  height: 1px;
  width: 85%;
  margin: 0 auto;
  background-color: #fff;
}

body {
  font-family: Roboto Mono;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  -ms-grid-rows: minmax(auto, 50px) auto minmax(auto, 255px);
  -ms-grid-columns: 1fr;
      grid-template: minmax(auto, 50px) auto minmax(auto, 255px)/1fr;
      grid-template-areas: "header" "main" "footer";
  overflow: hidden;
}

.header {
  background: #27272A;
  z-index: 10;
}

.header__menu {
  padding: 60px 0px;
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.921);
  width: 50%;
  height: 100%;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  left: -100%;
}

.header__navodka {
  display: block;
  position: none;
}

.header__list {
  display: block;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  padding: 15px;
}

.padaem {
  display: block;
  position: none;
  background-color: #00000000;
  left: 0px;
  width: auto;
  height: auto;
  text-align: left;
  margin-top: 60px;
}

.padaem__drop-bg {
  display: none;
}

.padaem__drop-up {
  display: none;
}

.padaem__drop {
  color: #184FB9;
  font-size: 20px;
  text-decoration: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .header__menu {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template: auto/ 1fr 8fr 1fr;
  background: #27272A;
}

.content .bg {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template: auto auto / 1fr 8fr 1fr;
      grid-template-areas: "info" "buy";
  background: #1A1A1C;
  border-radius: 10px;
}

.info {
  padding-top: 115px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: auto 1fr;
      grid-template: 1fr / auto 1fr;
  grid-gap: 8%;
}

.info .poster {
  -ms-grid-column: 1;
  grid-column: 1;
}

.info .poster .foto {
  width: 100%;
  height: auto;
  border-radius: 20%;
}

.info .options {
  -ms-grid-column: 2;
  grid-column: 2;
}

.info .options p.p1 {
  font-size: 24px;
  display: block;
  padding-bottom: 3%;
  color: #184FB9;
}

.info .options p.p2 {
  font-size: 18px;
  display: block;
  padding-bottom: 3%;
  color: #184FB9;
}

.info .options p {
  font-size: 16px;
  display: block;
  padding-bottom: 3%;
  color: #184FB9;
}

.footer {
  padding-top: 55px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  background-color: #3A3A3A;
  -ms-grid-rows: 1fr 5fr;
  -ms-grid-columns: 1fr 5fr 5fr 5fr 1fr;
      grid-template: 1fr 5fr / 1fr 5fr 5fr 5fr 1fr;
}

.footer__logo {
  grid-column: span(5);
  -ms-grid-row: 1;
  grid-row: 1;
}

.footer__afischa {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer__kinotiatri {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer__kontakti {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.afischa__li {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.afischa__h1-a {
  font-size: 18px;
  line-height: 37px;
  color: #fff;
}

.kinotiatri__li {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.kinotiatri__h1-k {
  font-size: 18px;
  line-height: 37px;
  color: #fff;
}

.kontakti__h1-kon {
  font-size: 18px;
  line-height: 37px;
  color: #fff;
}

a.nulik_w {
  color: #fff;
}

svg.kontakti__telega {
  width: 40px;
  height: 40px;
}

svg.kontakti__vk {
  width: 40px;
  height: 40px;
}
