* {
  font-family: Roboto Mono;
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100px;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-style: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: iherit;
}

a {
  text-decoration: none;
}

.line {
  background-color: #27272A;
  width: 100%;
  height: 1px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.line__row {
  height: 1px;
  width: 85%;
  margin: 0 auto;
  background-color: #fff;
}

body {
  font-family: Roboto Mono;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  -ms-grid-rows: minmax(auto, 150px) 1fr minmax(auto, 255px);
  -ms-grid-columns: 1fr;
      grid-template: minmax(auto, 150px) 1fr minmax(auto, 255px)/1fr;
      grid-template-areas: "header" "main" "footer";
  overflow: hidden;
}

.content {
  padding: 30px 0;
  background: #27272A;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto (1fr)[5];
  -ms-grid-columns: 1fr (5fr)[2] 1fr;
      grid-template: auto repeat(5, 1fr)/1fr repeat(2, 5fr) 1fr;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 40px;
}

.advantage1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.advantage2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.advantage3 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

.advantage4 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
}

.advantage5 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

.advantage6 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

.advantage7 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 3;
  grid-column: 3;
}

.advantage8 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 2;
  grid-column: 2;
}

.advantage9 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 3;
  grid-column: 3;
}

.advantage10 {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 2;
  grid-column: 2;
}

.text {
  font-size: 40px;
  line-height: 40px;
  color: #184FB9;
}

.item-buy {
  font-size: 16px;
  line-height: 20px;
}
