* {
  font-family: Roboto Mono;
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100px;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-style: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: iherit;
}

a {
  text-decoration: none;
}

.line {
  background-color: #27272A;
  width: 100%;
  height: 1px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.line__row {
  height: 1px;
  width: 85%;
  margin: 0 auto;
  background-color: #fff;
}

body {
  font-family: Roboto Mono;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  -ms-grid-rows: minmax(auto, 150px) 1fr minmax(auto, 255px);
  -ms-grid-columns: 1fr;
      grid-template: minmax(auto, 150px) 1fr minmax(auto, 255px)/1fr;
      grid-template-areas: "header" "main" "footer";
  overflow: hidden;
}

.header {
  background: #27272A;
}

.header__menu {
  padding: 60px 0px;
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  left: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.921);
  width: 60%;
  height: 100%;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  left: -100%;
}

.header__navodka {
  display: block;
}

.header__list {
  display: block;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  padding: 15px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .header__menu {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.advantage {
  padding-top: 65px;
  padding-bottom: 30px;
  background-color: #27272A;
}

.advantage__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr (3fr)[2] 1fr;
      grid-template: 1fr 1fr 1fr 1fr/1fr repeat(2, 3fr) 1fr;
}

.item__items1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.item__items2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.item__items3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.item__items4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.item__items5 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.item__items6 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

.item__items7 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
}

.item__items8 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
}

.img svg {
  width: 135px;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #9D9898;
}

.text_h1 {
  color: #a0a0a0;
  text-align: center;
  font-size: 34px;
  line-height: 42px;
}

.detail {
  background-color: #27272A;
}

.detail__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 3.8fr 3.8fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 3.8fr 3.8fr 1fr;
}

.items__text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 14px;
  line-height: 20px;
  color: #9D9898;
}

.items__img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.items__img1 svg {
  width: 165px;
  height: 165px;
}

.items__text2 {
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 14px;
  line-height: 20px;
  color: #9D9898;
}

.items__img2 {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.items__img2 svg {
  width: 165px;
  height: 165px;
}

.items__text3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  font-size: 14px;
  line-height: 20px;
  color: #9D9898;
  border-top: 1px solid #fff;
}

.items__img3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.items__img3 svg {
  width: 165px;
  height: 165px;
}

.footer {
  padding-top: 55px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  background-color: #3A3A3A;
  -ms-grid-rows: 1fr 5fr;
  -ms-grid-columns: 1fr 5fr 5fr 5fr 1fr;
      grid-template: 1fr 5fr / 1fr 5fr 5fr 5fr 1fr;
}

.footer__logo {
  grid-column: span(5);
  -ms-grid-row: 1;
  grid-row: 1;
}

.footer__afischa {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer__kinotiatri {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer__kontakti {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.afischa__li {
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.afischa__h1-a {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

.kinotiatri {
  padding-right: 5px;
}

.kinotiatri__li {
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.kinotiatri__h1-k {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

.kontakti__h1-kon {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

.kontakti a.nulik_w {
  color: #fff;
}

.kontakti .footer__logo .logo_img {
  width: 89.36px;
  height: 30px;
}

svg.kontakti__telega {
  width: 30px;
  height: 30px;
}

svg.kontakti__vk {
  width: 30px;
  height: 30px;
}
