* {
  font-family: Roboto Mono;
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100px;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-style: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a.nulik, a.nulik:visited, a.nulik:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: iherit;
}

.line {
  background-color: #27272A;
  width: 100%;
  height: 1px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.line__row {
  height: 1px;
  width: 85%;
  margin: 0 auto;
  background-color: #fff;
}

body {
  font-family: Roboto Mono;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  -ms-grid-rows: minmax(auto, 150px) 1fr minmax(auto, 255px);
  -ms-grid-columns: 1fr;
      grid-template: minmax(auto, 150px) 1fr minmax(auto, 255px)/1fr;
      grid-template-areas: "header" "main" "footer";
  overflow: hidden;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #000), color-stop(20%, #513CA8));
  background: linear-gradient(to bottom, #000 80%, #513CA8 20%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1520px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1520px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
}

.header__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 0px 15px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 285px) minmax(auto, 1235px);
      grid-template: 1fr/minmax(auto, 285px) minmax(auto, 1235px);
}

.header__logo {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 140px;
  padding-left: 15px;
}

.header__list {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 3fr 3fr 3fr 2fr;
      grid-template: 1fr / 3fr 3fr 3fr 2fr;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #184FB9;
  font-size: 32px;
}

.header__navodka {
  position: relative;
}

.header__navodka:hover .padaem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_img {
  width: 120px;
  height: 40.285px;
}

.padaem {
  display: none;
  position: absolute;
  background-color: #000000;
  left: -80px;
  width: 276px;
  height: 280px;
  text-align: center;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.padaem__drop-bg {
  background-color: #513CA8;
  height: 38px;
  width: 100%;
}

.padaem__drop-up {
  height: 38px;
  width: 100%;
}

.padaem__drop {
  color: #184FB9;
  font-size: 32px;
  text-decoration: none;
}

.nulik {
  color: #184FB9;
}

.knopka {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .header__logo, .header__menu {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #616161;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.content {
  padding: 30px 0;
  background: #27272A;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto (1fr)[3];
  -ms-grid-columns: 1fr (3.4fr)[3] 1fr;
      grid-template: auto repeat(3, 1fr)/1fr repeat(3, 3.4fr) 1fr;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 40px;
}

.advantage1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.text {
  font-size: 48px;
  line-height: 63px;
  color: #184FB9;
}

.advantage2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.advantage3 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

.advantage4 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
  display: -ms-grid;
  display: grid;
}

.advantage5 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.advantage6 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

.advantage7 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
}

.advantage8 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

.advantage9 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 3;
  grid-column: 3;
}

.advantage10 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 4;
  grid-column: 4;
}

.item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
  -ms-grid-columns: 1fr 3fr 5fr 1fr;
      grid-template: 1fr auto / 1fr 3fr 5fr 1fr;
  background: #1A1A1C;
  border-radius: 20px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-img {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.kartinka {
  width: 349px;
  height: 538px;
  border-radius: 15px;
}

.item-info {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  font-size: 24px;
  line-height: 32px;
  color: #184FB9;
  background: #000000;
  border-radius: 20px;
}

.item-buy {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  font-size: 24px;
  line-height: 32px;
  color: #184FB9;
  background: #000000;
  border-radius: 20px;
}

.footer {
  padding-top: 55px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  background-color: #3A3A3A;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
      grid-template: 1fr / 1fr 2fr 2fr 2fr 2fr 1fr;
}

.footer__logo {
  -ms-grid-column: 2;
  grid-column: 2;
}

.footer__afischa {
  -ms-grid-column: 3;
  grid-column: 3;
}

.footer__kinotiatri {
  -ms-grid-column: 4;
  grid-column: 4;
}

.footer__kontakti {
  -ms-grid-column: 5;
  grid-column: 5;
}

.afischa__li {
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.afischa__h1-a {
  font-size: 36px;
  line-height: 47px;
  color: #fff;
}

.kinotiatri__li {
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.kinotiatri__h1-k {
  font-size: 36px;
  line-height: 47px;
  color: #fff;
}

.kontakti__h1-kon {
  font-size: 36px;
  line-height: 47px;
  color: #fff;
}

.kontakti__vk {
  display: inline;
  width: 60px;
  height: 60px;
  background: #000;
}

.kontakti__telega {
  display: inline;
  width: 60px;
  height: 60px;
  background: #b10404;
}

a.nulik_w {
  color: #fff;
}
